body{
	font-size: 0;
	color: #323232;
	font-weight: normal;
	font-family: "Roboto";
	background-color: #8ea99a;
	margin: 0;
	padding: 0;
}
.banner-title{
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto Bold";
}
.feature-title{
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: normal;
	font-family: "Roboto Medium";
}

.clearfix{
	content: "";
	display: table;
	clear: both;
}

.logo{
	float: left;
	width: 160px;
}

.container{
	font-size: 16px;
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 2px solid black;
}

.main-header{
	outline: 2px solid black;
}

.main-navigation{
	float: left;
	width: 700px;
	outline: 2px solid black;
	min-height: 120px;
}

.header-schedule{
	float: right;
	width: 170px;
	outline: 2px solid black;
}

.user-block{
	float: left;
	width: 293px;
	outline: 2px solid black;
}

.navigation-submenu{
	display: none;
}
/*
li:hover .navigation-submenu{
	display: block;
}
*/
.inside-search{
	display: none;
}
/*
li:hover .inside-search{
	display: block;
}
*/
.inside-login{
	display: none;
}
/*
li:hover .inside-login{
	display: block;
}
*/
.inside-cart{
	display: none;
}
/*
li:hover .inside-cart{
	display: block;
}
*/
.slider{
	outline: 2px solid black;
	height: 565px;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

.caption{
	font-size: 60px;
	line-height: 60px;
	color: white;
	text-align: center;
	margin-bottom: 35px;
	position: absolute;
	top: 250px;
}

.let-two{
	width: 280px;
	height: 65px;
	background: #f06441;
	text-align: center;
	line-height: 44px;
	border-radius: 25px;
	font-size: 32px;
	color: white;
	text-decoration: none;
	position: absolute;
	display: block;
	top: 457px;
	left: 192px;
}

.left-banner{
	width: 560px;
	height: 230px;
	outline: 2px solid black;
	float: left;
	margin-right: 26px;
	margin-left: 27px;
	margin-bottom: 40px;
}

.right-banner{
	width: 560px;
	height: 230px;
	outline: 2px solid black;
	float: left;
	margin-bottom: 40px;
}

.product{
	float: left;
	width: 267px;
	height: 328px;
	outline: 2px solid black;
	margin-right: 26px;
	margin-bottom: 40px;
}

.product:nth-child(4n){
	margin-left: 27px;
}

.feature{
	width: 1106px;
	height: 248px;
	outline: 2px solid black;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 30px 20px;
}

.feature-discription{
	width: 540px;
	height: 85px;
	display: inline-block;
	outline: 2px solid black;
	margin-left: 6px;
}

.news{
	width: 560px;
	height: 220px;
	outline: 2px solid black;
	float: left;
	margin-right: 26px;
	margin-left: 27px;
	margin-bottom: 40px;
}

.distribution{
	width: 560px;
	height: 220px;
	outline: 2px solid black;
	float: left;
	margin-bottom: 40px;
}

.contact{
	display: none;
}

.contact-form{
	display: none;
}

.map{
	width: 100%;
    
    margin-top: 25px;
	overflow-x: hidden;
	background: #fcfcfc;
	outline: 2px solid black;
}
/*
.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
*/
.main-footer{
	outline: 2px solid black;
}

.footer-social{
	float: left;
	width: 186px;
	margin-left: 27px;
	margin-right: 215px;
	min-height: 60px;
	outline: 2px solid black;
}

.social-info{
	float: left;
	width: 335px;
	min-height: 60px;
	font-size: 10px;
	outline: 2px solid black;
}

.left-social-info{
	width: 165px;
	min-height: 34px;
	float: left;
	outline: 2px solid black;
}

.right-social-info{
	width: 165px;
	min-height: 34px;
	float: right;
	outline: 2px solid black;
}

.made-in{
	width: 190px;
	outline: 2px solid black;
	float: right;
	margin-right: 27px; 
}

.breadcrumbs{
	outline: 2px solid black;
}

.catalog-title{
	background: #778bd7;
}
.filter{
	outline: 2px solid black;
	margin-bottom: 34px;
}

.sorting{
	width: 195px;
	outline: 2px solid black;
}

.price-regulation{
	width: 219px;
	outline: 2px solid black;
}

.fatness{
	width: 418px;
	outline: 2px solid black;
}

.filler{
	width: 702px;
	outline: 2px solid black;
}

.paginator{
	float: right;
	outline: 2px solid black;
}